:root {
  background-color: #0b0c15; /* הצבע השחור שלנו */
  color: #ffffff; /* טקסט לבן */
}

body {
  margin: 0;
  padding: 0;
  background-color: #0b0c15 !important; /* דורס כל הגדרה אחרת */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #0b0c15;
}